<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tienda de Ropa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button *ngIf="editando" color="warning" (click)="editar()">Editar Prenda</ion-button>
  <ion-button *ngIf="editando" color="danger" (click)="eliminar()">Eliminar Prenda</ion-button>
  <ion-button *ngIf="editando" color="medium" (click)="cancelarEdicion()">Cancelar</ion-button>

  <h1>Lista de Prendas</h1>

  <!-- Sección de tarjetas en una cuadrícula -->
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let prenda of arrayPrendas">
        <ion-card class="prenda-card">
          <img *ngIf="prenda.data.imagen" [src]="prenda.data.imagen" alt="{{ prenda.data.nombre }}" class="prenda-img">
          <ion-card-header>
            <ion-card-title>{{ prenda.data.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Stock:</strong> {{ prenda.data.stock }}</p>
            <p><strong>Precio:</strong> {{ prenda.data.precio }}€</p>
            <ion-button expand="block" fill="outline" color="primary" (click)="seleccionarPrenda(prenda)">
              Editar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 20px; margin-right: 20px;">
    <ion-fab-button (click)="nuevaPrenda()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
